<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CommonFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FrameworkTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C6241A0E19EF9CA300FACBC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6241A1919EF9CA300FACBC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6241A3119EFABD000FACBC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6700E8419EFB5AD00EDA41A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
