<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ActionExt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ActionExtNoUi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DocumentProvider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>DocumentProviderFileProvider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>HelloTodayWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Keyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>PhotoEditing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Share.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>TodayExt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>今日要闻.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C6042D6A19E7BCC300EC9E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6042D8319E7BCC300EC9E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6042D9919E7BFEC00EC9E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6042DB619E7D2C100EC9E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6042DCB19E7D2D800EC9E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6042DE019E7D2E900EC9E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6042DF319E7D2FB00EC9E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6042E0119E7D2FC00EC9E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6042E1D19E7D31400EC9E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6042E3619E7D32400EC9E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C61364D419EB73D80098A03E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
